astrolore @ file:///Users/JoeyA/Documents/Research/workshops/astrolore
astropy==6.1.7
astropy-iers-data==0.2025.8.4.0.42.59
bottle==0.13.4
build==1.3.0
contourpy==1.3.2
cycler==0.12.1
fonttools==4.59.0
kiwisolver==1.4.8
matplotlib==3.10.5
numpy==2.2.6
packaging==25.0
pandas==2.3.1
pillow==11.3.0
proxy_tools==0.1.0
pyerfa==2.0.1.5
pyobjc-core==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-Quartz==11.1
pyobjc-framework-Security==11.1
pyobjc-framework-WebKit==11.1
pyparsing==3.2.3
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywebview==5.4
PyYAML==6.0.2
six==1.17.0
tomli==2.2.1
typing_extensions==4.14.1
tzdata==2025.2
